

<div class="reservations">
    <h1>Tous les utilisateurs</h1>
    <div class="reservationCard" *ngFor='let user of users$ '>
        <div class="card-content">

        
            <div class="p-content">
                
                <div class="p-info">
                    <div class="p-title" >{{user.username}}</div>
                    <div class="p-desc"><strong> Email : </strong> {{user.email}}</div>
                    
                    
                </div>
            </div>
            <div class="loc-spots">
                <div >Numéro de téléphone: {{user.phone}}</div>
                    <mat-divider [vertical]="true"></mat-divider>
                <div >Statut du compte: <strong style="color: rgb(182, 37, 37);" *ngIf = 'user.isBlocked '>Bloqué</strong> <strong style="color: green;" *ngIf = '!user.isBlocked '>Activé</strong> </div>
            </div>
         </div>
        
        
        <button (click) = 'blockUser(user._id)' *ngIf = '!user.isBlocked && !user.isAdmin' class="btn" id="block">Bloquer</button>
        <button (click) = 'activateUser(user._id)' *ngIf = 'user.isBlocked ' class="btn" id="unblock">Débloquer</button>
    </div>
</div>