<div class="container">
  <h1 class="logo">Park<span>Finder</span> </h1>
  <form class="login-form">
    <div class="error">
      <span>{{errorMsg}}</span>
    </div>
    <div  class="u-input">
      <label >Email</label>
      <input type="text"  [(ngModel)]="loginUserData.email" name="email" required>
    </div>
    <div class="u-input">
      <label>Password</label>
      <input type="password"  [(ngModel)]="loginUserData.password" name="password" required>
    </div>
    <button class="btn" type="button" (click)="loginUser()" >Login</button>

  </form>
</div>
