
.parkings{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}
.btn{
    color: white;
    font-weight: 600;
    letter-spacing: 1;
    font-size: 14px;
    width: 80px;
    height: 40px;
    border: 1px solid black;
    background-color: rgb(33, 33, 78);
    cursor: pointer;
}
.parkingCard{
    display: flex;
    flex-direction: column;
    background-color: rgba(105, 105, 105, 0.045);
    padding: 20px;
    margin: 10px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.171);
    border-radius: 5px;
}
.p-title{
    font-weight: 600;
    font-size: 18px;

}
.p-desc{
    font-size: 14px;

}
.parkingCard:hover{
    background-color: rgba(105, 105, 105, 0.1);
}
.p-content{
    display: flex;
}
.p-info{
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 20px;
}
.p-img img {
    width: 150px;
    height: 150px;
}
.loc-spots{
    display: flex;
    justify-content: space-evenly;
    margin: 15px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.479);
}
.btns{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%
}