<div class="container">
    <div class="search">
        <div mat-button [matMenuTriggerFor]="menu" class="filter">
           <span>Filter</span> 
           <mat-icon color="primary">expand_more</mat-icon>
           <mat-menu #menu="matMenu">
            <button class="menu-item" mat-menu-item>Maarif</button>
            <button class="menu-item" mat-menu-item>Roche Noir</button>
            <button class="menu-item" mat-menu-item>Wafasalaf</button>
            <button class="menu-item" mat-menu-item>2 Mars</button>
          </mat-menu>
        </div>
        
        <div class="search-bar">
            <mat-icon color="primary">search</mat-icon>
            <input placeholder="Search for Parkings ..." type="text" name="search" id="search">
        </div>
    </div>

    <div class="parkings">
        <div class="pks">
            <div class="parkingCard" *ngFor='let parking of parkings$ '>
                <div class="p-content">
                    <div class="p-img">
                        <img src="http://localhost:3000/{{parking.parkingImage}}" alt="">
                    </div>
                    <div class="p-info">
                        <div class="p-title">{{parking.name}}</div>
                        <div class="p-desc">{{parking.description}}</div>
                        
                        
                    </div>
                </div>
                <div class="loc-spots">
                    <div >Location: Sidi Maarouf</div>
                        <mat-divider [vertical]="true"></mat-divider>
                    <div >Total Spots: {{parking.total_spots}}</div>
                </div>
                <div class="btns">
                    <button (click)='deleteParking(parking._id)' class="btn">Delete</button>
                    <button  class="btn">Edit</button>
                </div>
                
        
            </div>
        </div>
    </div>
</div>
