

<div class="reservations">
    <div class="reservationCard" *ngFor='let reservation of reservations$ '>
        <div class="p-content">
            
            <div class="p-info">
                <div class="p-title" >{{reservation.parkingId}}</div>
                <div class="p-desc">{{reservation.date}}</div>
                
                
            </div>
        </div>
        <div class="loc-spots">
            <div >{{reservation.arrivalTime}}</div>
                <mat-divider [vertical]="true"></mat-divider>
            <div >{{reservation.departureTime}}</div>
        </div>
        <div class="btns">
            <button (click)='deleteParking(parking._id)' class="btn">Delete</button>
            <button  class="btn">Edit</button>
        </div>
        

    </div>
</div>