<!-- <div class="container">
    <div class="get-test">
        <h1>all parkings</h1>
        <div class="parkingCard" *ngFor='let parking of parkings$ '>
            <div class="p-img">
                <img src="http://localhost:3000/{{parking.parkingImage}}" alt="">
            </div>
            <div class="p-info">
                <div class="p-title">Name: {{parking.name}}</div>
                <div class="p-desc">Description: {{parking.description}}</div>
                <div class="p-desc">Location_x: {{parking.location_x}}</div>
                <div class="p-desc">Location_y: {{parking.location_y}}</div>
                <div class="p-desc">Total places: {{parking.total_spots}}</div>
            </div>
            <button (click)='deleteParking(parking._id)' class="d-parking">Delete</button>
        </div>
    </div>
    <div class="post-test">
        <form #parkingPost='ngForm' (ngSubmit)='onSubmit(parkingPost.value)' class="create-article" >
            <div class="usr-inp">
                <label>Parking Name</label>
                <input  type="text" ngModel name="name" id="" >
            </div>
            <div class="usr-inp">
                <label>Location_x</label>
                <input  type="text" ngModel name="location_x" id="" >
            </div>
            <div class="usr-inp">
                <label>Location_y</label>
                <input  type="text" ngModel name="location_y" id="" >
            </div>
            <div class="usr-inp">
                <label>Image</label>
                <input  type="file" ngModel name="parkingImage" (change)="onFileSelected($event)" >
            </div>
            <div class="usr-inp">
                <label>Total Place</label>
                <input  type="text" ngModel name="totalPlace" id="" >
            </div>
            <div  class="usr-inp" id="post-body">
                <label>Description</label>
                <textarea name="description" ngModel id="" cols="30" rows="10" ></textarea>
            </div>
            
            <button  type="submit" class="submit">Submit</button>
        </form>
    </div>
    <button class="logout" (click)="_authService.logoutUser()" >Log out</button>
    <button class="logout" [routerLink]="['/login']" >Log In</button>
<app-reservations></app-reservations>
</div> -->

<div class="container">
    
</div>